<li class="media">
    <a href="#" class="pull-left">
        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
    </a>
    <div class="media-body">
        <span class="text-muted pull-right">
            <strong class="text-success">{{comment.name}}</strong>
            <small class="text-muted">{{comment.createdAt}}</small>
        </span>
        <br>
        <div style="word-wrap: break-word; width: 100px">
	        <p style="word-wrap: break-word;">{{comment.text}}</p>
        </div>
    </div>
</li>
