@import "bootstrap";

body {
  padding-top: 20px;
}

.btn-narrow {
  padding-left: 10px;
  padding-right: 10px;
}

.login-container{
	padding-top: 12px;
	float:right;
}

.btn-sm{
	border-radius: 12px;
	padding-bottom: 5px;
}

.btn-sm:hover{
	background: #457ab2;
	color: white;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.carousel{
  color: rgb(33, 33, 33);
  background-color: rgb(33, 33, 33);
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.comment-container {
	width: 500px;
}

.cover-pic {
  width: 168px;
  height: 336px;
  object-fit: scale-down;
}