<div class="container-fluid">
    <img src="/assets/vgbanner.jpg" style="display:block; margin-left: auto; margin-right: auto;" width=100%> 
    {{#sticky-element}}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{#link-to 'index' class="navbar-brand"}}Game Center{{/link-to}}
            </div>

            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="nav navbar-nav">
                    {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}} 
                    {{#link-to 'games' tagName="li"}}<a href="">Games</a>{{/link-to}} 
                    {{#link-to 'friends' tagName="li"}}<a href="">Friends</a>{{/link-to}}
                </ul>
                <div class="login-container">
                    <ul class=" navbar-nav navbar-right">
                        {{#unless session.isAuthenticated}} 
                            {{#link-to 'login' class="btn btn-sm" tagName="li"}}<a href="">Login</a>{{/link-to}}
                            {{#link-to 'sign-up' class="btn btn-sm" tagName="li"}}<a href="">Sign-up</a>{{/link-to}} 
                        {{else}}
                            {{#link-to 'friends.show' model class=users.id tagName="li"}}<a href="">{{model.username}}'s Profile</a>{{/link-to}}
                            {{#link-to 'login' tagName="li" invokeAction='invalidateSession'}}<a href="">Logout</a>{{/link-to}}
                            <!--<li><a class="btn btn-sm" href="" {{action "invalidateSession"}}>Logout</a></li>-->
                        {{/unless}}
                    </ul>
                </div>

            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container-fluid -->

    </nav>
    {{outlet}}
    {{/sticky-element}}
</div>

