{{#if session.isAuthenticated}}
<div class="" style="background-color: transparent">
    <img src="/assets/vgbanner.png" style="display:block; margin-left: auto; margin-right: auto;" width=100%>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="nav navbar-nav">
                    {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
                    {{#link-to 'games' tagName="li"}}<a href="">Games</a>{{/link-to}}
                    {{#link-to 'friends' tagName="li"}}<a href="">Find Friends</a>{{/link-to}}
                </ul>
                <div class="login-container">
                    <ul class="nav navbar-nav navbar-right">
                        {{#unless session.isAuthenticated}}
                            {{#link-to 'login' tagName="li"}}<a href="">Login</a>{{/link-to}}
                            {{#link-to 'sign-up' tagName="li"}}<a href="">Sign-up</a>{{/link-to}}
                        {{else}}
                            {{#link-to 'userProfile' model invokeAction='fixModel' tagName="li"}}<a href="">View My Profile</a>{{/link-to}}
                            {{#link-to 'login' tagName="li" invokeAction='invalidateSession'}}<a href="">Logout</a>{{/link-to}}
                        {{/unless}}
                    </ul>
                </div>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
{{/if}}
{{outlet}}
