<form {{action "authenticate" on="submit"}} >
     <span style="color:white">Email: {{input type="text" class="login" value=identification}}</span>
    <span style="color:white">Password: {{input type="password" class="login" value=password}}</span>
    <button class="button" type="submit" >Login</button>
</form>
