<form {{action "authenticate" on="submit"}} >
     <span>Email: {{input type="text" value=identification}}</span>
    <span>Password: {{input type="password"value=password}}</span>
    <button class="button" type="submit" >Login</button>
</form>
